<html>
<head>
    <title>knp-utils Web-api</title>
</head>
<body>
<h1>knp-utils Web-api</h1>
<h1>Web api documentation</h1>

<!-- run job api documentation -->
<div id="doc_run_knp_api">
    <h2>run_knp_api</h2>
    <p>API type: POST</p>
    <p>API end pint: run_knp_api </p>
    <h3>What you can do</h3>
    <p>With this api, you can start knp-utils process.</p>
    <p>The api works as job-queue style. So, you get task-id as return-value. With the task-id, you can ask progress of
        your task.</p>

    <h3>Post body json scheme</h3>
    <pre><code>{"is_use_jumanpp": bool, "n_jobs": int, "is_split_text": bool, "documents": {"text-id": string, "text": string}}</code></pre>
    <h4>Parameters</h4>
    <ul>
        <li>documents: JSON object. The text data which you want analyze with KNP.</li>
        <li>is_use_jumanpp: boolean. It uses juman++ if the flag is True, else it uses juman. Default is False.</li>
        <li>n_jobs: #thread to process your request. Default it -1(all thread).</li>
        <li>is_split_text: It splits your input text before it parses text with KNP. Default is False.</li>
    </ul>

    <h4>Example</h4>
    <pre><code>{
	"input_document": [{
		"text-id": "input-1",
		"text": "東京　３日　ロイター］ - 日銀は３日、急激な金利上昇を止めるため、特定の年限の国債買い入れを増やす「指値オペ」を実施した。トランプ米大統領による円安誘導批判を受け、日銀が長期金利を押し下げるようなオペは難しくなるとの思惑が浮上。長期金利は３日、一時、０．１５％を超えて上昇した。日銀は、指し値オペの実行によってゼロ％に抑える政策に変化がないことを明確にし、圧力を意識した市場に「強い意思」を示した格好だ。"
	}, {
		"text-id": "input-2",
		"text": "指値オペの実施は現在の金融政策「長短金利操作（イールドカーブ・コントロール、ＹＣＣ）」を開始した２０１６年９月以来、２度目となる。"
	}, {
		"text-id": "input-3",
		"text": "ドナルド・トランプ米大統領が有権者の心をつかんだ理由の一つは、その率直な物言いだ。ドルに関して言えば、米国の歴代財務長官が昔から繰り返してきた「強いドルは米国の国益にかなう」という妄言と決別するという新政権の意向は歓迎されよう。"
	}],
	"is_use_jumanpp": true,
	"n_jobs": -1
}
    </code></pre>

    <h3>Response body</h3>
    <p>This api does not return computed value. You get only task-id of process.</p>
    <h5>Example</h5>
    <pre><code>{
  "message": "your job is started",
  "task_id": "f65b4934-9169-44b4-bb25-30179da6f8c7"}
}</code></pre>


    <h3>Request example</h3>
    <pre><code>curl localhost:5000/run_knp_api -H "Content-type: application/json" -X POST -d '{
	"documents": [{
		"text-id": "input-1",
		"text": "東京　３日　ロイター］ - 日銀は３日、急激な金利上昇を止めるため、特定の年限の国債買い入れを増やす「指値オペ」を実施した。トランプ米大統領による円安誘導批判を受け、日銀が長期金利を押し下げるようなオペは難しくなるとの思惑が浮上。長期金利は３日、一時、０．１５％を超えて上昇した。日銀は、指し値オペの実行によってゼロ％に抑える政策に変化がないことを明確にし、圧力を意識した市場に「強い意思」を示した格好だ。"
	}, {
		"text-id": "input-2",
		"text": "指値オペの実施は現在の金融政策「長短金利操作（イールドカーブ・コントロール、ＹＣＣ）」を開始した２０１６年９月以来、２度目となる。"
	}, {
		"text-id": "input-3",
		"text": "ドナルド・トランプ米大統領が有権者の心をつかんだ理由の一つは、その率直な物言いだ。ドルに関して言えば、米国の歴代財務長官が昔から繰り返してきた「強いドルは米国の国益にかなう」という妄言と決別するという新政権の意向は歓迎されよう。"
	}],
	"is_use_jumanpp": true,
	"n_jobs": -1
}'</code></pre>

</div>


<div id="doc-task_status">
    <!-- status api documentation -->
    <h2>task_status api</h2>
    <p>API type: GET</p>
    <p>API end pint: task_status/[task-id] </p>
    <h3>What you can do</h3>
    <p>You're able to know status of task which you started.</p>

    <h3>Example</h3>
    <pre><code>task_status/1cebe42a-235e-4cb1-a8dd-9c3105c47f63</code></pre>

    <h3>Response body</h3>
    <h4>Example</h4>
    <pre><code>{"task_status": "DONE"}</code></pre>

    <p>To test the api with curl</p>
    <pre><code>curl localhost:5000/task_status/1cebe42a-235e-4cb1-a8dd-9c3105c47f63 -H "Content-type: application/json" -X GET </code></pre>
</div>

<div id="doc-get_result_api">
    <!-- get result api documentation -->
    <h2>get_result_api</h2>
    <p>API type: GET</p>
    <p>API end point: get_result_api</p>

    <h3>What you can do</h3>
    <p>This api gives you processed result</p>

    <h3>GET address</h3>
    <pre><code>get_result_api/<task_id here></code></pre>

    <h3>Example</h3>
    <pre><code>get_result_api/1cebe42a-235e-4cb1-a8dd-9c3105c47f63</code></pre>

    <h3>Response scheme</h3>
    <pre><code>
        {"parsed_documents": [
        {
        "parsed_result": string,
        "record_id": int,
        "status": int,
        "sub_id": string,
        "text": string,
        "timestamp": datetime,
        "update_at": datetime
        }]}</code></pre>

    <h4>Example</h4>
    <pre><code>{
  "parsed_documents": [
    {
      "parsed_result": "<the knp parsed result of the text in your request here>,
      "record_id": 0,
      "status": 1,
      "sub_id": "input-1",
      "text": <the text of your request here>,
      "timestamp": "2017-03-07 01:35:21.895785",
      "update_at": "2017-03-07 01:35:21.895791"
    }
  ]}}</code></pre>


    <h3>Request example</h3>
    <pre><code>curl localhost:5000/get_result_api -H "Content-type: application/json" -X POST -d '{"text-ids": ["input-1"]}'</code></pre>

</div>


<h2>System information</h2>
<p>Package version: {{ version_info }}</p>


</body>